/TheJourney/Intermediate/*
**/Saved/*
**/Build/*
/TheJourney/Binaries/*
**/Android_ASTC/*
**/WindowsNoEditor/*
**/Windows/*
**/DerivedDataCache/*

**/.vscode/*
**/.vs/*

**/*.sln
**/*.suo
**/*.code-workspace

